* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-light: rgb(243, 243, 225);
  --bg-normal: rgb(191, 191, 122);
  --bg-dark: rgb(151, 151, 100);
  --text: rgb(229, 229, 226);
  --accent: rgb(27, 76, 92);
}

body {
  background-color: var(--bg-light);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  padding: 24px;
  padding-bottom: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: var(--accent);
  }

  #newBookModalBtn {
    border: 4px solid var(--bg-normal);
    color: var(--bg-normal);
    font-size: 24px;
    border-radius: 24px;
    padding: 4px 16px;
  }
}

#newBookModal {
  /* border: 1px solid blue; */
  width: 500px;
  margin: auto;
  padding: 12px;

  border: none;
  border-radius: 12px;

  background-color: var(--bg-normal);
  color: var(--text);

  img {
    width: 24px;
    height: 24px;
  }
}

::backdrop {
  backdrop-filter: blur(6px);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.library {
  /* border: 1px solid red; */
  border-radius: 10px;
  padding: 12px;
  margin: 24px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  background-color: var(--bg-normal);
}

.book {
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;

  background-color: var(--bg-dark);
  color: var(--text);
}

.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 4px;

  h3 {
    width: 100px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.book-body {
  padding: 4px;

  button {
    margin-top: 4px;
    color: var(--text);
  }
}

.form-element {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 4px;
}

input {
  background-color: var(--text);
  border: none;
  border-radius: 16px;
}

input[type="text"] {
  width: 300px;
}

button {
  border: none;
  border-radius: 16px;
  padding: 4px 12px;
  background-color: var(--accent);
  color: var(--bg-normal);
}
